@import "general_styles_and_themes.scss";

%map_size{
    width: 100%;
    height: 80vh;
}
$border_radius: 10px;
.acrylic_toolbox{
    position: absolute;
    top: 0;
    right: 0;
    width: 60px; /* Ancho de la caja de herramientas */
    height: calc(100% - 20px);
    margin: 10px;
    display: flex;
    flex-direction: column;

    align-items: center;
    z-index: 1000;

    @extend .acrylic_background;
    .icon_button{

        background: none;
        border: none;
        cursor: pointer;
        font-size: 32px;
        color: #333;
        padding: 10px;
        border-radius: 30px;
        transition: background-color 0.3s, color 0.3s;
        margin-top: 5px;

        &:hover{
            background-color: rgba(0, 0, 0, 0.1);
            color: #000;
        }
    
        &::after{
            content: '';
            display: block;
            margin-top: 5px;
            width: 100%;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s;
        }
    }
}

.map_container {
    position: relative;
    @extend %map_size;
    overflow: hidden;

    
}
.map{
    @extend %map_size;
}
.active{
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: #000 !important;
}