%map_size{
    width: 100%;
    height: 80vh;
}
%acrylic_background{
    background-color: rgba(255, 255, 255, 0.6); /* Acrílico blanco con transparencia */
    box-shadow: 0 0 13px  rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
}
$border_radius: 10px;
.acrylic_toolbox{
    position: absolute;
    top: 0;
    right: 0;
    width: 80px; /* Ancho de la caja de herramientas */
    height: 100%;
    // background-color: rgba(255, 255, 255, 0.6); /* Acrílico blanco con transparencia */
    // border-left: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    
    align-items: center;
    z-index: 1000;
    border-top-left-radius: $border_radius;
    border-bottom-left-radius: $border_radius;
    // box-shadow: 0 0 13px  rgba(0, 0, 0, 0.2);
    // backdrop-filter: blur(4px);

    @extend %acrylic_background;
    .icon_button{

        background: none;
        border: none;
        cursor: pointer;
        font-size: 32px;
        color: #333;
        padding: 10px;
        border-radius: 30px;
        transition: background-color 0.3s, color 0.3s;
        margin-top: 5px;

        &:hover{
            background-color: rgba(0, 0, 0, 0.1);
            color: #000;
        }
    
        &::after{
            content: '';
            display: block;
            margin-top: 5px;
            width: 100%;
            height: 2px;
            background-color: rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s;
        }
    }
}

.map_container {
    position: relative;
    @extend %map_size;
    overflow: hidden;

    .map_header{
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 1000;
        min-height: 60px;
        margin-left: 55px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: calc(100% - 150px);
        @extend %acrylic_background;
    }
}
.map{
    @extend %map_size;
}
